.parent {
    display: table;
    vertical-align: middle;
    display: inline-block;
}

.summary {
  margin-top: 150px;
  margin: 50px;
  color: black;
  text-align: center;
  font-size: 20px;
  
}

.item {
    vertical-align: middle;
    display: table-cell;
    /* display: inline-block; */
}