body {
  /* background-color: #010203; */
  background-color: #fff;
}

.content {
  min-height: calc(100vh - 70px);
  /* margin-bottom: 50px; */
}

.modal {
  margin-left: 100px;
}

.welcomeUser{
  text-align: right;
  margin-bottom: 20px;
  margin-right: 25px;
  margin-top: 5px;
}

.footer-content{
  text-align: center;
  /* line-height: 2; */
  margin-bottom: 15px;
  color: white;
}
