.form-group {
    /* margin-top: 30px; */
    /* width: 250px;
    margin-left: 375px;
    /* border-color: peru; */
    /* border-width: 3px;
    border-style: dashed; */
    /* padding: 10px;
    /* text-align: center; */ 
}

.form-group {
    margin-top: 50px;
    text-align: center;
    /* border-color: darkslategrey;
    border-width: 3px;
    border-style: dashed; */
    
    
}

h6{
    text-align: center;
    font-size: 30px;
}