.form-group {
    width: 250px;
    margin-left: 375px;
    margin-top: 20px;
    /* border-color: peru; */
    /* border-width: 3px;
    border-style: dashed; */
    text-align: center;
}

.form-horizontal {
    margin-top: -30px;
}

.form-input{
    padding: -15px;
}